<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>projet_Pecqueux</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Index_servlet</display-name>
    <servlet-name>Index_servlet</servlet-name>
    <servlet-class>hei.devweb.servlets.Index_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index_servlet</servlet-name>
    <url-pattern>/Index_servlet</url-pattern>
  </servlet-mapping>
</web-app>